<div class="questions">

  <h1>All Sid's Questions</h1>

  <div class="questions-list">
    <% @questions.each do |question| %>
      <div class="question">
      <span> <%= question.question %> </span>
      <span> <%= link_to "Show", question_path(question) %> </span>
      </div>
    <% end %>
  </div>

</div>
