/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

.container {
  width: 700px;
  margin: 0 auto;
}

nav {
  border-bottom: 1px #444 solid;
  height: 50px;
}

nav li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 50px;
}

nav li#brand {
  float: left;
}

nav li#brand a {
  color: #444;
}

nav i.fa {
  font-size: 36px;
}

nav li.nav-links a {
  margin-right: 5px;
  background-color: darkred;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

nav li.nav-links a:hover {
  background-color: #444;
}

.questions h1 {
  text-align: center;
}

.questions a {
  font-size: 13px;
  padding: 5px;
  margin-right: 5px;
  background-color: #3c6f48;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.questions-list .question {
  border-top: 1px solid #444;
  line-height: 50px;
  height: 50px;
  text-align: center;
}
